*{
    margin: 0;
    padding: 0;
}
#nav-bar{
    position: sticky;
    z-index: 10;
    top: 0;
}
#nav-bar ul li a{
    font-size: 15px;
    font-weight: 600!important;
}
#nav-bar ul li a:hover{
    color:#5cb85c;
}
.nav-link{
    text-transform: uppercase;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
.navbar{
    background-color: #fff;
}
.navbar-toggler{
    border: none!important;
}
#slider{
    width: 100%!important;
    text-align: center;
}
.carousel-caption h5{
    color:#fff;
    font-size: 40px;
    text-transform: capitalize;
}
@media screen and (max-width:320px){
    .carousel-caption h5{
        color:#fff;
        font-size: 20px;
        text-transform: capitalize;
    }
}
@media screen and (max-width:720px){
    .carousel-caption h5{
        color:#fff;
        font-size: 25px;
        text-transform: capitalize;
    }
}
.carousel-caption button{
    width:200px;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight:bold;
    transition: 0.5s ease-in;
}
.carousel-caption button:hover{

    background-color:#95cea5;
    color: #fff;
    font-weight:bold;

}
#slider .carousel-control-prev .fas,
#slider .carousel-control-next .fas{
	   background-color: #5cb85c;
	   padding:10px 15px;
     border-radius: 50%;
     color: #fff;
	   font-size:30px!important;
	   opacity:0;
     transition: opacity 1s ease;
}
#slider:hover .carousel-control-prev .fas,
#slider:hover .carousel-control-next .fas{
	  opacity:1;
}
.carousel-indicators li{
   height: 10px!important;
   border-radius: 50px!important
}
#about-us{
    padding-top: 50px;
    padding-bottom: 50px;
    color:#555;
}
#about-us button{
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
    font-weight:bold;
}
.about-content{
    padding-top:15px;
}
.skills-bar{
    margin-bottom: 6px;
    font-weight:600;
}
.progress{
    border-radius: 10px !important;
    margin-bottom: 20px;
}
.progress-bar{
    background: #5cb85c;
    border-radius: 10px;
}
#services{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(setup.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ccc!important;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h2{
    text-align: center;
    padding-bottom: 10px;
    color: #ccc !important;
}
#services h2::after{
    content:'';
    display:block;
    background: #ccc;
    height: 3px;
    width: 100px;
    margin: 20px auto 5px;
}
.services{
    margin-top: 40px;
}
.icons{
    font-size:40px;
    margin:20px auto;
    padding:10px;
    width: 80px;
    height: 80px;
    border:1px solid #ccc;
    border-radius:50px;
}
#services p{
    font-size:14px;
    margin-top:20px;
    color:#ccc;
}
.services .col-md-3{
    border-radius:5%;
}
.services .col-md-3:hover{
    background:#5cb85c;
    cursor: pointer;
    transition: 0.5s ease-in;
}
#team{
    padding-top:50px;
    padding-bottom:50px;
    color: #555;
}
#team h2{
    text-align: center;
    padding-bottom: 10px;
}
#team h2::after{
    content:'';
    display:block;
    background: #5cb85c;
    height: 3px;
    width: 100px;
    margin: 20px auto 5px;
}
.profile-pic{
    margin-top:25px;
}
.profile-pic .img-box{
    opacity: 1;
    position: relative;
    display: block;

}
.profile-pic .img-box img{
    filter: grayscale(1);
    width: 100%;
    border-radius: 15px;
}
.profile-pic .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
}
.profile-pic h1{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #5cb85c;
}
.profile-pic h3{
    font-size: 15px;
    font-weight: 700;
    margin-top: 15px;
}
.img-box .social-media{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50px;
    transform: translateX(-50px);
    opacity: 0;
}
.img-box .social-media:hover{
    opacity: 1;
}
.social-media i{
    font-size: 20px;
    transition: color .5s;
}
.fa-facebook-square{
    color:#3b5999;
}
.fa-twitter-square{
    color:#55acee;
}
.fa-instagram{
    color:#e6683c;
}
.fa-google-plus-square{
    color:#dd4b39;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram:hover,
.fa-google-plus-square:hover{
    color:#5cb85c;
}
#promo{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(key.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ccc;
    font-family: sans-serif;
    font-size: 35px;
    text-align: center;
    padding: 50px;
}
#promo .btn{
    width: 200px;
    border-radius: 30px;
    font-weight:bold;
}
#promo{
    text-transform: capitalize;
}
#price{
    padding: 40px 0;
    background: #efefef;
}
#price h2{
    text-align: center;
    padding-bottom: 10px;
    text-transform: capitalize;
    color: #555;
}
#price h2::after{
    content:'';
    display:block;
    background: #5cb85c;
    height: 3px;
    width: 100px;
    margin: 20px auto 5px;
}
.single-price{
    margin: 10px auto;
    width:100%;
    float: left;
    border-radius: 20px;
    background-color: #fff;
    transition: 0.5s;
}
.single-price:hover{
    box-shadow: 0 2px 20px #5cb85c;
    cursor:pointer;
}
#price .btn{
    border-radius: 20px;
    width: 100%;
    font-weight: 700;
}
#price .btn:hover{
    background: transparent;
    color: #5cb85c;
}
.price-head{
    background-color: #5cb85c;
    display: block;
    padding: 10px 5px;
    text-align: center;
    border-radius: 20px;
}
.price-head h3{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
    padding: 5px;
}
.price-head p{
    font-size: 20px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}
.price-head span{
    font-size:15px ;
}
.price-content{
    float: left;
    width: 100%;
    padding: 0 15px;
}
.price-content ul li{
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid #efefef;
}
.price-content ul li:last-child{
    border: none;
}
.fa-check-circle{
    color: #5cb85c;
    margin: 3px;
}
.fa-times-circle{
    color: red;
    margin: 3px;
}
#testimonials{
    padding-top: 50px;
    padding-bottom: 50px;
}
#testimonials h2{
    text-align: center;
    padding-bottom: 10px;
    text-transform: capitalize;
    color: #555;
}
#testimonials h2::after{
    content:'';
    display:block;
    background: #5cb85c;
    height: 3px;
    width: 100px;
    margin: 20px auto 5px;
}
#testimonials .row{
    margin-top: 30px;
}
.col-md-4{
    margin: 40PX auto;
}
.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;
    border-radius: 10px;
}
.profile .user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile img{
    top: -60px;
    position: absolute;
    left:calc(50% - 60px);
    border: 10px solid #fff;
}
.profile h3{
    font-size:20px;
    margin-top:15px;
    color: #5cb85c;
}
#testimonials span{
    font-size: 12px;
    color: #555;
}
q{
    font-size: 16px;
    line-height: 30px;
}
q::before{
    font-size: 50px;
    color: #5cb85c;
    position: relative;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}
q::after{
    font-size: 50px;
    color: #5cb85c;
    position: relative;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}
.profile:hover{
    box-shadow: 0 0 15px 5px #5cb85c;
    transition: 0.5s;
    cursor: pointer;
}
#contact{
    padding-top: 40px;
    padding-bottom: 40px;
    background: #efefef;
    color: #777;
}
#contact h2{
    text-align: center;
    padding-bottom: 10px;
    text-transform: capitalize;
    color: #555;
}
#contact h2::after{
    content:'';
    display:block;
    background: #5cb85c;
    height: 3px;
    width: 100px;
    margin: 20px auto 5px;
}
.contact-form{
    padding: 15px;
}
.contact-form .btn{
    font-weight: bold;
}
.form-control{
    border-radius: 0!important;
    border: none!important;
}
.follow{
    padding: 10px;
    margin: 15px;
    background: #fff;
}
.contact-info .fa{
    margin: 10px;
    color: #5cb85c;
    font-weight: bold;
}
#footer{
    background:#5cb85c ;
    color: #fff;
    padding: 12px;
    font-weight: bold;
}
.contact-info .socials{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 6px;

}
